
    html, body
    {
        height: 100%;
    }
    
    body
    {
        margin: 0px;
        padding: 0px;
        background: #16A085;
        font-family: 'Questrial', sans-serif;
        font-size: 12pt;
        color: rgba(0,0,0,.6);
    }
    
    
    h1, h2
    {
        margin: 0;
        padding: 0;
        color: #404040;
    }
    
    p
    {
        line-height: 180%;
        margin-top: 0;
    }
    
    strong
    {
    }
    
    a
    {
        color: #16A085;
    }
    
    a:hover
    {
        text-decoration: none;
    }
    

    .container
    {
        margin: 0px auto;
        width: 1200px;
    }
    #header-wrapper
    {
        overflow: hidden;
        padding: 2em 0em;
        /*background: url(images/bg01.jpg) repeat-x center top;*/
    }

    #header
    {
    }

    #page-wrapper
    {
        overflow: hidden;
        background: #F3F3F3;
        padding: 3em 0em;
        text-align: center;
    }

    #page
    {
    }

    #portfolio
    {
    }
    
    #portfolio .box
    {
        text-align: center;
        color: rgba(0,0,0,0.5);
    }
    
    #portfolio h3
    {
        display: block;
        padding-bottom: 1em;
        font-size: 1em;
        color: rgba(0,0,0,0.6);
    }

    #portfolio .title
    {
        text-align: center;
    }

    #portfolio .title h2
    {
        color: rgba(0,0,0,0.8);
    }
    .button
    {
        display: inline-block;
        margin-top: 2em;
        padding: 0.8em 2em;
        background: #16A085;
        line-height: 1.8em;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 1em;
        color: #FFF;
    }
    
    .button:before
    {
        display: inline-block;
        background: #8DCB89;
        margin-right: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        text-align: center;
        color: #272925;
    }
    
    .button-small
    {
    }

    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6
    {
        width: 282px;
    }
    
    .column1,
    .column2,
    .column3,
    .column4,
    .column5
    {
        float: left;
        margin-right: 24px;
    }
    
    .column6
    {
        float: right;
    }

