@CHARSET "UTF-8";


#dog{
	color:#CC33FF;
	font-size:15px;
}

a.navlink:visited{
	text-decoration: none;
	color:#CC0066;
}

a.navlink:active{
	text-decoration: none;
	color:#0044DD;
}

a.navlink:hover{
	text-decoration: none;
	color:#00FF66;
}

table tr#first{
	background-color:#666666;
	color:#FFFFCC;
}

table tr#second{
	color:#FF99CC;
}

table tr#third{
	color:#CCFFCC;
}


