<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>MDTLastProject</servlet-name>
		<servlet-class>andrew.cmu.group1final.DoctorAdviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MDTLastProject</servlet-name>
		<url-pattern>/mdtlastproject</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Advice</servlet-name>
		<servlet-class>andrew.cmu.group1final.AdviseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Advice</servlet-name>
		<url-pattern>/advise</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DocLog</servlet-name>
		<servlet-class>andrew.cmu.group1final.DocLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocLog</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
